<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="The Blog" content="First mebn Projects " />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  <title>The Blog</title>
</head>
<!-- Adding Article Page -->

<body>
  <div class="container">
    <h1 class="mb-4 mt-3">New Article</h1>
    <form action="/articles" method="POST">
    <%- include('_form_fields') %>
    </form>
  </div>
</body>

</html>